.cartContainer {
    margin: 20px;
    align-items: start;
}

.itemListContainer {
    display: flex;
}

.checkout {
    margin: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.checkout button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    color: #000;
    max-width: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.checkout button:hover {
    background-color: #000;
    color: #fff;
}
